<div class="ui four cards">

  <div class="card">
    <div class="content">
      <div class="header">Item compare</div>
      <div class="description">
        Compare two item, for see who is the best choice
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="exchange icon"></i>
      Compare
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">Bis List generator</div>
      <div class="description">
        Generate bis list from stats weight
      </div>
    </div>
    <div class="ui bottom attached button">
      <i class="retweet icon"></i>
      Generate
    </div>
  </div>

  <div class="card">
    <div class="content">
      <div class="header">Stats weight list</div>
      <div class="description">
        Manage all your weight list.
      </div>
    </div>
    <div class="ui bottom attached button">
      {{#link-to 'sw'}}
        <i class="list icon"></i>
        List
      {{/link-to}}
    </div>
  </div>

</div>
